/* styles.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
}

section {
    padding: 50px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    color: #ccc;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    color: #ccc;
    padding: 20px 0;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 30px 0;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }
}
